h1 {
color: red;
text-align: center;
}

div {
border: 2px solid black;
width: 350px;
background-color: purple;
margin-left: auto;
margin-right:auto;
text-align: center;
}

.div1 {
border-left: 2px solid black;
border-right: 2px solid black;
border-bottom: 2px solid black;
border-top: 2px black;
}

body {
color: yellow;
background-color: lightblue;
/*background-image: url("http://www.motowallpapers.ru/wp/yamaha/tt-r230/2014/Yamaha-TT-R230-2014.jpg");
background-repeat: repeat; */
}

a{
color: yellow;
}

img {
margin-left: auto;
margin-right:auto;
}
P {
color: black;
}

pre{
font-family: Verdana;
}